/* GENERAL */

img.money-symbol-image {

	position: relative;
	top: 3px;

}

div.monetary-notification {

	display: block !important;

}

div.monetary-notification-content p {

	line-height: 20px;

}

span#monetary-hide-update {

	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;

}

/* END GENERAL */

/* BANK */

span#bank-clear-transactions {

	cursor: pointer;

}

div#bank-overview-wrapper {

	display: table;

}

div#bank-coin-image {

	float: left;

}

div#bank-overview-inner {

	display: table-cell;
	vertical-align: middle;
	width: 100%;

}

div#bank-overview-details {

	float: right;
	margin-right: 25px;
	margin-top: -10px;

}

span#bank-overview-details-money {

	font-size: 24px;
	font-weight: bold;

}

span#bank-overview-details-account-number, span#bank-overview-details-sort-code {

	font-size: 9px;

}

div#bank-controls {

	float: left;
	margin-left: 60px;

}

div#bank-error {

	height: 30px;

}

div#bank-error span {

	color: red;
	display: none;
	font-size: 11px;

}

div#bank-controls-buttons-wrapper {

	line-height: 24px;

}

div#bank-controls-buttons-wrapper input {

	width: 100px;
	border: 1px solid;
	height: 19px;

}

div#bank-controls-buttons-wrapper a {

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-right: 50px;
	position: relative;
	left: -7px;

}

table#bank-transaction-list {

	width: 100%;
	padding: 0px;
	text-align: left;

}

tr#bank-transaction-list-headers th {

	width: 20%;
	text-align: left;

}

tr.bank-transaction-list-row {

	font-size: 11px;
	height: 40px;

}

tr.bank-transaction-list-row:hover {

	color: #000000;
	background-color: #f6f6f6;

}

tr#bank-transaction-list-headers-dotted {

	border-top: 1px dashed;
	height: 5px;

}

tr.bank-transaction-list-spacer {

	height: 5px;

}

tr.bank-transaction-list-spacer td {

	border-top: 1px solid;

}

/* END BANK */

/* STOCK */

div#stock-invest-content {

	text-align: center;
	padding: 10px;

}

div#stock-invest-content table {

	width: 100%;

}

div#stock-invest-content table tr.stock-invest-content-headers {

	border-bottom: 1px solid;

}

div#stock-invest-content table tr th, div#stock-invest-content table tr td {

	text-align: left;

}

tr.stock-invest-content-row td {

	padding: 6px;

}

tr.stock-invest-content-headers th {

	padding-left: 6px;

}

div#stock-wrapper {

	padding: 10px;
	text-align: center;

}

div#stock-content {

	overflow: hidden;
	text-align: center;
	margin: auto;
	max-width: 908px;

}

div#stock-content-strip {

	position: relative;
	left: 0px;
	width: 20000px;
	height: 100%;

}

div.stock-block {

	float: left;
	width: 908px;
	height: 100%;

}

div.stock-block-header {

	border-bottom: 2px solid;
	font-size: 18px;
	padding: 5px;

}

table.stock-block-table-left, table.stock-block-table-center, table.stock-block-table-right {

	float: left;
	margin-top: 15px;

}

table.stock-block-table-left, table.stock-block-table-center {

	margin-right: 20px;

}

table.stock-block-table-left, table.stock-block-table-right {

	width: 32%;

}

table.stock-block-table-center {

	width: 31%;

}

td.stock-block-cell-right, td.stock-block-cell-left {

	padding: 5px;
	border-bottom: 1px solid;

}

td.stock-block-cell-left {

	text-align: left;

}

td.stock-block-cell-right {

	text-align: right;
	font-weight: bold;

}

div.stock-block-chart {

	margin-top: 10px;
	text-align: center;
	border: 1px solid;
	padding: 5px;

}

span.stock-market-loss {

	color: red;

}

span.stock-market-profit {

	color: blue;

}

/* END STOCK */

/* GIFT NOTICED / DONATION NOTICE */

div.monetary-gift-notice-icon, div.monetary-donation-notice-icon {

	float: left;
	margin-right: 20px;
	margin-left: 10px;

}

div.monetary-gift-notice-content, div.monetary-donation-notice-content {

	float: left;
	margin-top: 2px;

}

div.monetary-gift-notice-content p, div.monetary-donation-notice-content p {

	margin-top: 10px;

}

/* DONATION */

div.monetary-donation-sending-to-title {

	float: left;

}

div.monetary-donation-sending-amount-title {

	float: right;

}

div.monetary-donation-avatar-img {

	float: left;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 12px;

}

div.monetary-donation-fields {

	float: left;
	margin-top: 10px;

}

div.monetary-donation-fields dl {

	width: 620px;

}

div.monetary-donation-fields dl dt {

	float: left;
	width: 160px;
	text-align: right;
	margin-right: 8px;

}

div.monetary-donation-fields dl dd {

	margin-bottom: 10px;

}

div.monetary-donation-fields dl dt.monetary-donation-button {

	margin-top: 20px;

}

div.monetary-donation-fields dl dd.monetary-donation-button {

	margin-bottom: 10px;

}

div.monetary-donation-fields dl dd.monetary-donation-button button {

	margin-left: 0px;

}

div.monetary-donation-fields dd input {

	width: 100px;

}

div.monetary-donation-fields dd textarea {

	width: 400px;
	height: 100px;

}

div.monetary-donation-fields dd span#pd_donation_amount_error {

	color: red;

}

p.monetary-donation-to-current-amount {

	font-size: 11px;
	text-align: center;

}

span.monetary-donation-message-chars-remain {

	font-size: 10px;
	position: relative;
	top: -20px;
	left: 420px;
	opacity: 0.4;

}


div.monetary-donation-tip-holder div.monetary-donation-tip-number {

	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #333333;
	color: #000000;
	font: 0.8em/0.8em "Trebuchet MS",Verdana,Arial;
	height: 0.8em;
	padding: 3px 7px 2px;
	text-shadow: none;

}


div.monetary-donation-tip-holder {

	display: inline-block;
	position: absolute;
	right: -4px;
	top: -10px;

}


div.monetary-donation-tip-holder span.monetary-donation-tip {

	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #FFFFFF;
	left: 6px;
	position: absolute;

}

table.monetary-donation-received-list .monetary-donation-amount {

	width: 20%;

}

table.monetary-donation-received-list .monetary-donation-from {

	width: 25%;

}

table.monetary-donation-received-list .monetary-donation-date {

	width: 30%;

}

table.monetary-donation-received-list .monetary-donation-icon {

	width: 55px;

}

table.monetary-donation-received-list .monetary-donation-button {

	text-align: right;

}